version: '3'

services:
###> doctrine/doctrine-bundle ###
  database:
    image: 'mariadb:10.10.2'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: main
    ports:
      - '3306'
###< doctrine/doctrine-bundle ###

  redis:
    image: redis:5-alpine
    ports: [ "6379" ]

  adminer:
    image: adminer
    ports: [ "8889:8080" ]

volumes:
###> doctrine/doctrine-bundle ###
  db-data:
###< doctrine/doctrine-bundle ###
