{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Remontées des résultats de scrutin{% endblock %}

{% block body %}
    <div {{ stimulus_controller('main-vue-app') }}></div>
{% endblock %}
