{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}The Title of the Page{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('admin_export_results') }}">Exporter les données</a>
{% endblock %}

{% block main %}
    <div class="row mb-5">
        <div class="col-12">
{#            {{ render_chart(rapportOuvertureGraphe, {'class': 'my-chart'}) }}#}
        </div>
    </div>
{% endblock %}
