{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Live Elect | Tableau de bord{% endblock %}
{% block content_title %}Tableau de bord{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('admin_export_results') }}">Exporter les données</a>
{% endblock %}

{% block main %}
{#    {{ dump(taux_remontes.xAxis, taux_remontes.values) }}#}
    <div class="row mb-5">
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-body">
                    <canvas
                            {{ stimulus_controller('render-chart', {
                                chartData: nb_remontes,
                                chartTitle: "Nombre d'arrondissements remontés par département",
                                chartType: "bar",
                            }) }}
                    ></canvas>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="card">
                <div class="card-body">
                    <canvas
                            {{ stimulus_controller('render-chart', {
                                chartData: taux_remontes,
                                chartTitle: "Taux de remontée par département",
                                chartType: "line",
                            }) }}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
